<%- include("../partials/header.ejs") %>
        <link rel="stylesheet" href="/css/item.css">
        <main>
            <h2>View Item</h2>
            <article class="item">
                <img src="<%= item.image %>" alt="<%= item.title %>"">
                <div class="item-information">
                    <p class="item-title"><%= item.title %></p>
                    <p class="item-seller">Sold by: <%= item.seller %></p>
                    <p class="item-condition"><%= item.condition %> Condition</p>
                    <p class="item-offers"><%= item.offers %> offers</p>
                    <p class="item-price">$<%= item.price %></p>
                    <p class="item-description"><%= item.details %></p>
                        <button class="edit">Edit</button>
                        <button class="delete">Delete</button>
                    </div>
                </div>
            </article>
            <div class="browse">
                <h3>Not what you were looking for?</h3>
                <button>Browse the Catalog</button>
            </div>
        </main>
<%- include("../partials/footer.ejs") %>