<%- include("../partials/header.ejs") %>
        <link rel="stylesheet" href="/css/item.css">
        <div class="item-container">
            <% let displayTitle = item.title.length > 30 ? item.title.substring(0, 30) + "..." : item.title; %>
            <h2><%= displayTitle %></h2>
            <article class="item">
                <img src="<%= item.image %>" alt="<%= item.title %>"">
                <div class="item-information">
                    <div class="item-information-row">
                        <p class="item-seller">Sold by: <%= item.seller.firstName %> <%= item.seller.lastName %></p>
                        <p class="item-condition"><%= item.condition %> Condition</p>
                        <p class="item-offers"><%= item.offers.length %> offers</p>
                    </div>
                    <p class="item-price">$<%= item.price %></p>
                    <p class="item-description"><%= item.details %></p>
                    </div>
            </article>
            <div class="browse">
                <h3>Not what you were looking for?</h3>
                <button class="catalog-button">Browse the Catalog</button>
            </div>
        </div>
<%- include("../partials/footer.ejs") %>