<%- include("../partials/header.ejs") %>
    <link rel="stylesheet" href="/css/profile.css">
    <h2>Hi, <%= user.firstName %></h2>
    <h3>Your Items</h3>
    <% if (items.length > 0) { %>
        <div class="yi-container">
            <div class="yi-titlebar">
                <h4 class="titlebar-item">Item</h4>
                <h4 class="titlebar-offers">Offers</h4>
                <h4 class="titlebar-status">Status</h4>
                <h4 class="titlebar-actions">Actions</h4>
            </div>
        <% items.forEach(item => { %>
            <div class="yi-items">
                <p class="item-name"><a href="/items/<%= item._id %>"><%= item.title %></a></p>
                <p class="item-offers"><a href="/items/<%= item._id %>"><%= item.offers.length %></a></p>
                <% if (item.active) { %>
                    <p class="item-status">Active</p>
                <% } else { %>
                    <p class="item-status">Inactive</p>
                <% } %>
                <form class="yi-actions">
                    <button class="yi-action" type="submit" formmethod="GET" formaction="/items/<%= item._id %>/edit">Edit</button>
                    <button class="yi-action" type="submit" formmethod="POST" formaction="/items/<%= item._id %>?_method=DELETE">Delete</button>
                </form>
            </div>
        </div>
        <% }); %>
    <% } else { %>
        <p>You have no items listed for sale.</p>
    <% } %>
    
    <h3>Your Offers</h3>
    <div class="item-card-container">
        <% if (offers.length > 0) { %>
            <% offers.forEach(offer => { %>
                <a href="/"><div class="card">
                    <img src="<%= offer.item.image %>" class="card-image" alt="<% offer.item.title %>">
                    <p class="card-title"><%= offer.item.title %></p>
                    <p class="card-condition"><%= offer.item.condition %>></p>
                    <p class="card-price"><%= offer.item.price %></p>
                    <p class="card-offers"><%= offers.length - 1 %> other offers</p>
                </div></a>
            <% }); %>
        <% } else { %>
            <p>You currently are not in any bids</p>
        <% } %>
    </div>

<%- include("../partials/footer.ejs") %>